table {
    width: 100%;
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
    /* background: #dc0; Цвет фона таблицы */
    border: 4px solid #000; /* Рамка вокруг таблицы */
}
td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 2px solid black; /* Рамка вокруг ячеек */
}
 td {
    vertical-align:top;
/*border-top: dotted;
border-bottom: dotted;*/
}
a { text-decoration: none; color: #000;} 
.rectangle { width: 100%; height: 50px; border:1px solid; margin:auto; background: pink; }
.text_center { color: black; text-align: center; }
.text_left { color: black; text-align: left; }
.text_right { color: black; text-align: right; }

.outer {
    width: 200px;
    height: auto;
    border: 1.5px solid black; 
    border-radius: 30px;
}

.inner1 {
    float: left;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 20px;
    
}
.inner2 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.user {
    background-color: gold;
    /* width: 200px; */
    height: auto;
    border: 1.5px solid black; 
    border-radius: 30px;
    text-align: right;
    padding-right: 10px;
}

.bot {
    background-color: rgb(202, 229, 253);
    /* width: 200px; */
    height: auto;
    color: #000;
    border: 1.5px solid black; 
    border-radius: 10px;
    padding-left: 10px;
}
